* {/* Supprime la margin et le padding présent de base */
    margin: 0;
    padding: 0;
    color: white;
    font-family: helvetica;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: url('img/background.jpg') center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: -1;
}

header { /*Bandeau du haut*/
    height: 80px;
    width: 100%;
}

header::before {/* créer un pseudo-élément enfant pour modifier l'esthétisme */
    background: url('img/background.jpg')center center fixed;
    background-color: #000000;
    background-size: cover;
    content: '';
    height: 80px;
    width: 100%;
    filter: blur(2px) brightness(0.7);
    position: absolute;
    z-index: -1;
    left:0;
}

header h1 {
    float: left;
    margin-left: 30px;
    font-size: 40px;
    height: 80px;

}
header h1 img {
    margin:5px 0px; ;
    vertical-align: middle;
    width: 70px;
    height: 70px;
}

header nav {
    float: right;
    height: 100%;
    margin-right: 30px;
}

header nav ul li {
    display: inline-block;
    padding: 0px 10px;
    text-transform: uppercase;
    font-weight: bold;
    height: 100%;
    font-size: 18px;
    line-height: 80px;
    text-align: center;
    border-left: 2px solid rgba(0, 0, 0, 0);
    border-right: 2px solid rgba(0, 0, 0, 0);
    transition-duration:0.5s;
}

header nav ul li:hover{
    background: rgba(0, 0, 0, 0.8);
    border-left: 2px solid rgba(0, 0, 0, 0.8);
    border-right: 2px solid rgba(0, 0, 0, 0.8);
}

.active{
    background: rgba(0, 0, 0, 0.8);
    border-left: 2px solid rgba(0, 0, 0, 0.8);
    border-right: 2px solid rgba(0, 0, 0, 0.8);
}

section {
    display: none;
    width: 60%;
    margin: 50px auto;
    position: relative;
    min-height: 50%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 0.8) 0em 0em 15px 15px;
    padding:20px;
    border-radius: 10px;
}
section::-webkit-scrollbar{
    background-color: #191919;
}
section::-webkit-scrollbar-thumb{
  background-color: rgb(48, 48, 48);
}

section span{
    color:#ffbb00;
    font-size: 20px;
}

form {
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: block;
}

.input{
    display: block;
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.large{
    width: 100%;
}

.input label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.input input,.input select{
    display: block;
    width: 100%;
    color: white;
    background: none;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    border:none;
    outline:none;
    border-bottom: 1px solid white;
}
.input input:required{
    box-shadow: none;
}
.input p{
    font-size: 15px;
    text-align: right;
    /* visibility: hidden; */
    color: rgb(255, 57, 57);
    font-style: italic;
}

option{
    color:black;
    background: rgba(0, 0, 0, 0.5);
}

table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table th{
    padding: 10px 0px 10px 0px;
}
table tr{
    display: table-row;
    border: 1px solid white;
}
table td{
    padding: 2px;
}

.text {
    margin-top: 15px;
    display: block;
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.text textarea{
    margin-top: 15px;
    display: block;
    width: 100%;
    color: white;
    background: none;
    height: 150px;
    padding: 6px 12px;
    font-size: 14px;
    outline:none;
    border: 1px solid white;
    resize: none;
}

.btn1{
    margin-top: 30px;
    background: none;
    border: 3px solid #fff;
    color: #fff;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 13px;
    border-radius: 5px;
    transition: all 0.1s ease-in-out 0s;
    font-size: 25px;
}
.btn1:hover{
    background: #FFF;
    color: #000;
}
.btn1:focus{
    outline: none;
    transform: scale(0.97);
}

footer{
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: #000;
    opacity: 0.9;
    padding: 15px;
    vertical-align: bottom;
    position: fixed;
}
#result{
    height: 500px;
    overflow: auto;
}
